Source: ipmctl
Section: admin
Priority: optional
Maintainer: Adam Borowski <kilobyte@angband.pl>
Build-Depends: debhelper (>= 10),
               cmake (>=2.8.12),
               libndctl-dev(>=58.2),
               pkg-config,
               python,
               libsafec-dev,
               asciidoctor
Standards-Version: 4.1.2
Homepage: https://github.com/intel/ipmctl
#Vcs-Git: https://anonscm.debian.org/git/collab-maint/ipmctl.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/ipmctl.git

Package: ipmctl
Architecture: amd64
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: utility for configuring and managing Intel Optane DC persistent memory modules
 This package provides a CLI with the following functionality:
  * Discover PMMs on the platform.
  * Provision the platform memory configuration.
  * View and update the firmware on PMMs.
  * Configure data-at-rest security on PMMs.
  * Monitor PMM health.
  * Track performance of PMMs.
  * Debug and troubleshoot PMMs.

Package: libipmctl2
Section: libs
Architecture: amd64
Multi-Arch: same
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: library for managing Intel Optane DC persistent memory modules
 This package provides an API for the following functionality:
  * Discover PMMs on the platform.
  * Provision the platform memory configuration.
  * View and update the firmware on PMMs.
  * Configure data-at-rest security on PMMs.
  * Monitor PMM health.
  * Track performance of PMMs.
  * Debug and troubleshoot PMMs.

Package: libipmctl-dev
Section: libdevel
Architecture: amd64
Multi-Arch: same
Depends: libipmctl2 (=${binary:Version}),
         ${misc:Depends}
Description: library for managing Intel Optane DC persistent memory modules - devel
 This package provides an API for the following functionality:
  * Discover PMMs on the platform.
  * Provision the platform memory configuration.
  * View and update the firmware on PMMs.
  * Configure data-at-rest security on PMMs.
  * Monitor PMM health.
  * Track performance of PMMs.
  * Debug and troubleshoot PMMs.
 .
 This package contains C development headers.

Package: ipmctl-monitor
Architecture: amd64
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: daemon for monitoring health and status of Intel Optane DC modules
 This is a daemon which watches and logs events related to Optane DC
 NVDIMMs, such as media errors, thermal issues, losing or regaining contact
 with the memory controller, etc.
